<%= render partial: "shared/header", locals: {title: @maps.first.time  , back: root_path,single_page: ""} %>
<p id="notice"><%= notice %></p>

<a href="<%= maps_path + "/current"%>" class="btn btn-primary">Go to Live Map</a>

<div id="map" class="map m-2">
  <!-- OL map will be here  -->
</div>

<nav aria-label="Page navigation example">
  <ul class="pagination">
  <%= will_paginate @maps, renderer: @bootstrap_paginate_renderer %>
  </ul>
</nav>

<script type="text/javascript">

	// adding GPS DATA
	window.geojsonObject =  {
	  'type': 'FeatureCollection',
	  'crs': {
	    'type': 'name',
	    'properties': {
	      'name': 'EPSG:3857'
	    }
	  },
	  'features': [
		// TODO: add condition if there is map data for not
		{
	    'type': 'Feature',
	    'geometry': {
	      'type': 'Point',
	      'coordinates': ol.proj.fromLonLat([
        <%= @maps.first.lon %>
        ,
        <%= @maps.first.lat %>
        ])
	    }
	  },
		// condition ends here
		{
	    'type': 'Feature',
	    'geometry': {
	      'type': 'LineString',
	      'coordinates': [
				<% @maps.each do |map| %>
					ol.proj.fromLonLat([
			        <%= map.lon %>
			        ,
			        <%= map.lat %>
					]),
					<% end %>
			]
	    }
	  }


		]
	};
  </script>
