<%= render partial: "shared/header", locals: {title: "Footage" , back: root_path,single_page: ""} %>
<p id="notice"><%= notice %></p>
<table class="table table-striped">
  <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Description</th>
      <th>Flag</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @videos.each do |video| %>

      <tr>
        <td><a href="<%= video_path(video.id) %>"><%= image_tag(video.thumbnail, style:'width:150px; height:auto') if video.thumbnail.attached? %></a></td>
        <td><%= video.title %></td>
        <td><%= video.description %></td>
        <td><%= video.flag %></td>
        <td><%= link_to 'Show', video, :class => "btn btn-secondary" %></td>
        <td><%= link_to 'Destroy', video, method: :delete, data: { confirm: 'Are you sure?' } , :class => "btn btn-secondary" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<nav aria-label="Page navigation example">
  <ul class="pagination">
  <%= will_paginate @videos, renderer: @bootstrap_paginate_renderer %>
  </ul>
</nav>
