<%= render partial: "shared/single_header", locals: {title: @video.title , back: videos_path, edit_page:"" } %>

<p id="notice"><%= notice %></p>
<p>
  <strong>Title:</strong>
  <%= @video.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @video.description %>
</p>

<p>
  <strong>Flag:</strong>
  <%= @video.flag %>
</p>

<div style="width: 400px; height: 400px">
  <%if @video.clip.attached? then %>
	 <%= image_tag(@video.thumbnail, style:'width:100%; height:auto') if @video.thumbnail.attached? %>
  <% end %>
</div>
<div style="width: 400px; height: 400px">
  <%if @video.clip.attached? then %>
	 <%= video_tag(url_for(@video.clip), style:'width:100%; height:auto', controls:'')  %>
  <% end %>
</div>
