
<%= render partial: "shared/header", locals: {title: "Sensors" , back: root_path,single_page: "", new_page: new_sensor_path} %>

<p id="notice"><%= notice %></p>

<div class="container">
      <div class="row">
        <% @sensors.each do |sensor| %>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <% if sensor.image.attached? then %>
              <%= image_tag(sensor.image, style:'width:100%; height:auto')%>
            <% else %>
              <svg class="bd-placeholder-img card-img-top" width="100%" height="300px" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title><%= sensor.name %></title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em"><%= sensor.name.capitalize   %> No Image</text></svg>
            <% end %>
            <div class="card-body">
              <p class="card-text">
                <b><%= sensor.name %></b><br/>
                <%= sensor.description.capitalize %>
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <%= link_to 'Show', sensor, :class => "btn btn-sm btn-outline-secondary" %>
                  <%= link_to 'Edit', edit_sensor_path(sensor), :class => "btn btn-sm btn-outline-secondary" %>
                  <%= link_to 'Destroy', sensor, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-sm btn-outline-secondary" %>
                </div>
                <small class="text-muted"><%= sensor.values.count %> entery</small>
              </div>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
