
<%= render partial: "shared/header", locals: {title: "Sensors" , back: root_path,single_page: "", new_page: new_sensor_path} %>


<div class="container">
      <% if not @sensors.any? then  %>
      <div class="py-5">
        <div class="d-flex  justify-content-center row py-5">
          <h4 class="text-secondary">
            You haven't created any Sensors
          </h4>
        </div>
        <div class="d-flex  justify-content-center row">
         <%= link_to 'Create New Sensor Now', new_sensor_path, :class => "btn btn-sm btn-outline-primary" %>
        </div>
      </div>
      <% end %>
      <div class="row">
        <% @sensors.each do |sensor| %>
        <div class="col-md-4">
          <div class="<% if sensor.sensor_type == "CONTROL" then %> switches <% end %> card mb-4 shadow-sm">
            <% if sensor.sensor_type == "CONTROL" then %>
              <!-- no image thing -->
            <% else %>
              <% if sensor.image.attached? then %>
                <%= image_tag(sensor.image, style:'width:100%; height:auto')%>
              <% else %>
                <svg class="bd-placeholder-img card-img-top" width="100%" height="300px" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title><%= sensor.name %></title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em"><%= sensor.name.capitalize   %> No Image</text></svg>
              <% end %>
            <% end %>
            <div class="card-body">
              <p class="card-text">
                <b><%= sensor.name %></b><br/>
                <%= sensor.description.capitalize %>
              </p>
              <% if sensor.sensor_type == "CONTROL" then %>
                <div class='ioButton' >
                 <input id="value" type="text" hidden value="0">
               </div>
               <br>
              <% end %>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <%= link_to 'Show', sensor, :class => "btn btn-sm btn-outline-secondary" %>
                  <%= link_to 'Edit', edit_sensor_path(sensor), :class => "btn btn-sm btn-outline-secondary" %>
                  <%= link_to 'Destroy', sensor, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-sm btn-outline-secondary" %>
                </div>
                <% if sensor.sensor_type == "GPS" then %>
                  <small class="text-muted"><%= Map.count %> entery</small>
                <% else %>
                  <small class="text-muted"><%= sensor.values.count %> entery</small>
                <% end %>
              </div>
            </div>
          </div>
        </div>


        <% if (sensor.sensor_type == "CONTROL") then %>
        <script type="text/javascript">
        	$(".ioButton").click(function(){
        		var currentButton = $(this);
        		currentButton.addClass("awaitStatus");
        		jQuery.ajax({
        			url: "<%= sensor_path(sensor)+"/values.json" %>",
        			type: "POST",
        			data: {"value":{"json":"1"}},
        			dataType: "json",
        			beforeSend: function(x) {
        				if (x && x.overrideMimeType) {
        					x.overrideMimeType("application/j-son;charset=UTF-8");
        				}
        			},
        			success: function(result) {
                setTimeout(
                function()
                {
                  $.getJSON('<%= sensor_path(sensor)+"/values/current.json" %>', function(result) {
                    var val = result.json;
                    $("#value").val(val);
                    currentButton.removeClass('awaitStatus');
                    currentButton.removeClass('statusSuccess');
                    currentButton.removeClass('statusError');
                    if(val == 0){
                      currentButton.addClass('statusSuccess');
                    }else{
                      currentButton.addClass('statusError');
                    }
                  });
                }, 5000);
        			}
        			});
              // it should go down to zero if it was successful (from the hardware)
        	});
        </script>
        <% end %>
        <% end %>
      </div>
    </div>
