<%= render partial: "shared/single_header", locals: {title: @sensor.name , back: sensors_path, edit_page:edit_sensor_path(@sensor) } %>
<div id="info">
	<p id="notice"><%= notice %></p>

	<p>
		<strong>Name:</strong>
		<%= @sensor.name %>
	</p>
	<table class="table table-striped">
		<thead>
			<tr>
				
				<th scope="col">JSON</th>
				<th scope="col">Create AT</th>
			</tr>
		</thead>

		<tbody>
			<% @sensor.values.each do |value| %>
				<tr>
					<td><%= value.json %></td>
					<td><%= value.created_at %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
	<%= render "values/form" %>


</div>
