<%= form_with(model: gp, local: true) do |form| %>
  <% if gp.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(gp.errors.count, "error") %> prohibited this gp from being saved:</h2>

      <ul>
      <% gp.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :time %>
    <%= form.text_area :time %>
  </div>

  <div class="field">
    <%= form.label :lat %>
    <%= form.text_field :lat %>
  </div>

  <div class="field">
    <%= form.label :lon %>
    <%= form.text_field :lon %>
  </div>

  <div class="field">
    <%= form.label :alt %>
    <%= form.text_field :alt %>
  </div>

  <div class="field">
    <%= form.label :quality %>
    <%= form.text_field :quality %>
  </div>

  <div class="field">
    <%= form.label :satellites %>
    <%= form.text_field :satellites %>
  </div>

  <div class="field">
    <%= form.label :hdop %>
    <%= form.text_field :hdop %>
  </div>

  <div class="field">
    <%= form.label :geoidal %>
    <%= form.text_field :geoidal %>
  </div>

  <div class="field">
    <%= form.label :age %>
    <%= form.text_field :age %>
  </div>

  <div class="field">
    <%= form.label :stationID %>
    <%= form.text_field :stationID %>
  </div>

  <div class="field">
    <%= form.label :raw %>
    <%= form.text_area :raw %>
  </div>

  <div class="field">
    <%= form.label :valid %>
    <%= form.check_box :valid %>
  </div>

  <div class="field">
    <%= form.label :type %>
    <%= form.text_field :type %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
