<p id="notice"><%= notice %></p>

<h1>Gps</h1>

<table>
  <thead>
    <tr>
      <th>Time</th>
      <th>Lat</th>
      <th>Lon</th>
      <th>Alt</th>
      <th>Quality</th>
      <th>Satellites</th>
      <th>Hdop</th>
      <th>Geoidal</th>
      <th>Age</th>
      <th>Stationid</th>
      <th>Raw</th>
      <th>Valid</th>
      <th>Type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @gps.each do |gp| %>
      <tr>
        <td><%= gp.time %></td>
        <td><%= gp.lat %></td>
        <td><%= gp.lon %></td>
        <td><%= gp.alt %></td>
        <td><%= gp.quality %></td>
        <td><%= gp.satellites %></td>
        <td><%= gp.hdop %></td>
        <td><%= gp.geoidal %></td>
        <td><%= gp.age %></td>
        <td><%= gp.stationID %></td>
        <td><%= gp.raw %></td>
        <td><%= gp.valid %></td>
        <td><%= gp.type %></td>
        <td><%= link_to 'Show', gp %></td>
        <td><%= link_to 'Edit', edit_gp_path(gp) %></td>
        <td><%= link_to 'Destroy', gp, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Gp', new_gp_path %>
