<!DOCTYPE html>
<html lang="en">
<head>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="generator" content="Jekyll v3.8.6">
  <title>CarblackboxServer</title>


</head>
<body>
  <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="<%= root_path %>"><span class="fe fe-codesandbox"></span><b>IOT</b>BlackBox</a>

    <ul class="navbar-nav px-3 form-control-dark w-100">
    </ul>
  </nav>

  <div class="container-fluid">
    <div class="row">
      <%= render partial: "shared/nav" %>

      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <%= yield %>
      </main>
    </div>
  </div>

</body>
</html>
