<!DOCTYPE html>
<html lang="en">
<head>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="generator" content="Jekyll v3.8.6">
  <title>CarblackboxServer</title>


</head>
<body class="<%= controller_name %> <%= action_name %>">


  <div class="container-fluid">
    <%= render partial: "shared/nav" %>

      <main role="main" class="<% if user_signed_in? %>col-md-10  col-lg-10 <%else%> justify-content-center <% end %> ">
        <% if notice %>
          <div class="alert alert-success m-3 alert-dismissible fade show" role="alert">
              <%= notice %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        <% end %>
        <% if alert %>
          <div class="alert alert-danger m-3 alert-dismissible fade show" role="alert">
              <%= alert %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        <% end %>

        <%= yield %>

      </main>
      <% if user_signed_in? %>
      <%= render partial: "shared/sidebar" %>
      <% end %>
  </div>

</body>

</html>
